---
layout: default
title: home
skills:
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 111.
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 111.
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 111.
skills2:
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 222.
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 222.
  - title: Skill Name
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 222.
experience1:
  - title: Experience
    company: Company
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 1.
experience2:
  - title: Experience
    company: Company
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 2.
experience3:
  - title: Experience
    company: Company
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 3.
experience4:
  - title: Experience
    company: Company
    desc: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 4.
---

<!-- ABOUT -->
    <section id="about" class="grid-center aboutMe">
      <div class="col-6 aboutText">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </section>

<!-- SKILLS -->
    <section id="skills" class="mySkills">
      <h2>My Skills</h2>
      <div class="grid-spaceAround">
        {% for skill in page.skills %}
        <div class="col-3">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          <h3>{{skill:title}}</h3>
          <p>{{skill:desc}}</p>
        </div>
        {% endfor %}
      </div>
      <div class="grid-spaceAround">
        {% for skill in page.skills2 %}
        <div class="col-3">
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
          <h3>{{skill:title}}</h3>
          <p>{{skill:desc}}</p>
        </div>
        {% endfor %}
      </div>
    </section>

<!-- VIDEO -->
    <section id="video">
      <iframe src="https://www.youtube.com/embed/ktvTqknDobU" frameborder="0" allowfullscreen></iframe>
    </section>

<!-- EXPERIENCES -->
    <section id="experience" class ="myExperiences">
      <h2>My Experiences</h2>
      {% for exp in page.experience1 %}
      <div class="grid-spaceAround">
        <div class="col-1">
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
        </div>
        <div class="col-3">
          <h3>{{exp:title}}</h3>
          <h4>{{exp:company}}</h4>
        </div>
        <div class="col-5">
          <p>{{exp:desc}}</p>
        </div>
      </div>
      {% endfor %}
      {% for exp in page.experience2 %}
      <div class="grid-spaceAround">
        <div class="col-1">
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
        </div>
        <div class="col-3">
          <h3>{{exp:title}}</h3>
          <h4>{{exp:company}}</h4>
        </div>
        <div class="col-5">
          <p>{{exp:desc}}</p>
        </div>
      </div>
      {% endfor %}
      {% for exp in page.experience3 %}
      <div class="grid-spaceAround">
        <div class="col-1">
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
        </div>
        <div class="col-3">
          <h3>{{exp:title}}</h3>
          <h4>{{exp:company}}</h4>
        </div>
        <div class="col-5">
          <p>{{exp:desc}}</p>
        </div>
      </div>
      {% endfor %}
      {% for exp in page.experience4 %}
      <div class="grid-spaceAround">
        <div class="col-1">
          <i class="fa fa-birthday-cake" aria-hidden="true"></i>
        </div>
        <div class="col-3">
          <h3>{{exp:title}}</h3>
          <h4>{{exp:company}}</h4>
        </div>
        <div class="col-5">
          <p>{{exp:desc}}</p>
        </div>
      </div>
      {% endfor %}
    </section>
